# Compiled files
*.tfstate
*.tfstate.*.backup
*.tfstate.backup

# Module directory
.terraform/

# Variable values for development
terraform.tfvars

# Cache objects
packer_cache/

# For built boxes
*.box

# creadentials
openrc
ovhrc
id_rsa*

# various
*.log
